/* StyleSheet for HTML */


/* ############### MAIN ############### */
/* css for elements found in all pages */


body {
  background-color: #1e1e1e;
}

header {
  background-color: darkgrey;
}

footer {
  background-color: darkgrey;
}


h1, h2, h3, h4, h5, h6 {
  color: white;
}

a {
  color: red;
}

a:active {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: grey;
}



/* ############### INDEX ############### */
/* css in index.html specifically */










/* ############### PRODUCT ############### */
/* css in product.html specifically */




/* ############## DISCLAIMER ############## */
/* css in disclaimer.html specifically */


/* ############### ENQUIRY ############### */
/* css in enquiry.html specifically */


/* ############### ABOUTME ############### */
/* css in aboutme.html specifically */
