/* StyleSheet for HTML */


/* ############### MAIN ############### */
/* css for elements found in all pages */

* {
  font-family: Helvetica;
  color: white;
}


body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
}

header {
  background-color: darkgrey;
}

section {
  text-align: center;
  margin: 2% 10%;
}

aside {
  border-radius: .8em;
  border: 1px solid #00BFFF;
  margin: 1% 10% 2%;
  padding: 2% 4%;
}

footer {
  background-color: darkgrey;
  color: black;
}

hr {
  border: none;
  border-bottom: 1px solid white;
}


h1, h2, h3, h4, h5, h6, p {
  font-weight: bold;
  color: white;
}

a {
  color: lightblue;
  text-decoration: none;
  transition: .05s;
}

a:hover, a:active {
  text-decoration: underline;
  font-size: 1.1em;
  transition: .1s;
}

a:visited {
  color: lightgrey;
}

nav {
  width: 50%;
  margin: auto;
  display: block;
  text-align: center;
	height: 4em;
}

li {
  list-style-type: none;
  display: inline-block;
  font-size: 1.5em;
  margin: 1.5% 5% 1.5% 0;
}




/* ############### INDEX ############### */
/* css in index.html specifically */










/* ############### PRODUCT ############### */
/* css in product.html specifically */




/* ############## DISCLAIMER ############## */
/* css in disclaimer.html specifically */


/* ############### ENQUIRY ############### */
/* css in enquiry.html specifically */

.space_bottom {
  margin-bottom: 2em;
}

.form_header {
  text-align: center;
  background-color: #00BFFF;
  margin: 4em 5% 0;
}

form {
  margin: 0 10% 5%;
}

fieldset {
  border-radius: .6em;
  border: 1px solid #00BFFF;
  margin: 1.2em 0;
}

form legend {
  text-align: center;
  padding: 0 1em;
}

form table {
  margin-left: 1.2em;
}

td {
  vertical-align: text-top;
}

input[type=text], input[type=email], input[type=number], input[type=tel] {
  border: none;
  border-bottom: 2px solid #00BFFF;
  background-color: transparent;
  padding: .5em .5em .2em;
  margin: 1vh 1vh 1vh;
}

input[type=text]:hover, input[type=email]:hover, input[type=number]:hover, input[type=tel]:hover {
  border-bottom: 2px solid #80ccff;
  transition: .1s;
}

input[type=number] {
  width: 2em;
  text-align: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text]:valid, input[type=email]:valid, input[type=number]:valid, input[type=tel]:valid {
  border-bottom: 2px solid lightgreen;
}

select {
  border: none;
  border-bottom: 2px solid #00BFFF;
  background-color: transparent;
  padding: .5em;
  margin-left: 1vh;
}

select:valid {
  border-bottom: 2px solid lightgreen;
}

select optgroup, select option {
  background-color: #333333;
}

textarea {
  border: 2px solid #00BFFF;
  background-color: transparent;
  padding: .5em;
  border-radius: .5em;
  width: 96%;
  margin: 2%;
}

.form_button {
  text-align: right;
  height: 3em;
}

input[type=reset], input[type=submit] {
  background-color: transparent;
  border: 2px solid #00BFFF;
  border-radius: 2em;
  padding: .5em;
  margin: 0 .5em;
  transition: .1s;
  height: 3em;
  width: 6em;
}

input[type=reset]:hover, input[type=submit]:hover {
  background-color: #00BFFF;
  font-size: 0.9em;
  transition: .1s;
}

@media only screen and (min-width: 1000px) {
  form {
    width: 48%;
    float: left;
  }

  .form_header {
    margin-left: 8%;
    width: 52%;
  }

  aside {
    float: left;
    width: 18%;
    margin: 0;
  }

  footer {
    clear: both;
  }

  #lname {
    display: inline;
  }
}

/* ############### ABOUTME ############### */
/* css in aboutme.html specifically */
