/* StyleSheet for HTML */


/* ############### MAIN ############### */
/* css for elements found in all pages */


body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  font-family: Helvetica;
}



header {
  background-color: darkgrey;
}

footer {
  background-color: darkgrey;
  color: black;
}

hr {
  border: none;
  border-bottom: 1px solid white;
}


h1, h2, h3, h4, h5, h6, p {
  font-weight: bold;
  color: white;
}

a {
  color: red;
  text-decoration: none;
  transition: .05s;
}

a:hover, a:active {
  text-decoration: underline;
  font-size: 1.1em;
  transition: .1s;
}

a:visited {
  color: lightgrey;
}

nav {
  width: 50%;
  margin: auto;
  display: block;
  text-align: center;
	height: 4em;
}

li {
  list-style-type: none;
  display: inline-block;
  font-size: 1.5em;
  margin: 1.5% 5% 1.5% 0;
}







/* ############### INDEX ############### */
/* css in index.html specifically */










/* ############### PRODUCT ############### */
/* css in product.html specifically */




/* ############## DISCLAIMER ############## */
/* css in disclaimer.html specifically */


/* ############### ENQUIRY ############### */
/* css in enquiry.html specifically */


/* ############### ABOUTME ############### */
/* css in aboutme.html specifically */
